$color-border: #F1F1F1;
$color-background: #ECECEC;
$color-back-green: #2C3729;
$color-main: #FCB156;
$color-black: #333333;
$color-red: #E52C2B;
$color-orange: #FCB156;
$color-blue: #19A4CA;
$color-back-main-hover: rgba(252, 177, 86, 0.5);