@import 'foundation/reset';
@import 'base/color';
@import 'project/header';
@import 'project/sidebar';
@import 'project/home';

body {
  background: $color-background;
}
.hidden {
  visibility: hidden;
}
.section {
  width: calc(100% - 250px);
  position: relative;
  left: 250px;
  overflow-y: scroll;
  height: 100vh;
}
.main-wrapper {
  display: flex;
  position: relative;
}
.section-common {
  background: $color-background;
}
.section-common_header {
  display: flex;
  padding-top: 28px;
  padding-left: 33px;
  padding-right: 33px;
  margin-bottom: 24px;
  height: auto;
}
.section-common_header-title {
  font-family: 'Roboto',arial,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
  margin-right: auto;
  align-self: flex-end;
}
.section-footer {
  height: 60px;
  background: $color-back-green;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: none;
}
.section-footer_links {
  display: flex;
}
.section-footer_link {
  flex: 1 1 auto;
  text-align: center;
  padding-top: 13px;
}
.section-footer_link-image {
  width: 24px;
  height: 24px;
}
.section-footer_link-title {
  font-family: 'Roboto',arial,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
}
.pc-500 {
  display: block;
}
.sp-900 {
  display: none;
}
.sp-flex-500 {
  display: none;
}
.pc-900 {
  display: block;
}
.background-main {
  background: $color-main;
  color: white;
}
.background-red {
  background: $color-red;
  color: white;
}
.background-white {
  background-color: white;
}
.display-block {
  display: block;
}
.pointer {
  cursor: pointer;
}
.button {
  font-family: 'Roboto',arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  width: 88px;
  height: 37px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.wallet-button {
  margin-left: auto;
  width:140px;
  height: 37px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-center {
  text-align: center;
}
.color-main {
  color: $color-main;
}
.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: white;
  border-radius: 0.25rem;
}
.bg-warning {
  --bs-bg-opacity: 1;
  background-color: $color-main;
}
.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: $color-main;
  transition: width .6s ease;
}
.text-normal {
  font-family: 'Roboto',arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}

@media screen and (max-width: 900px) {

  .sp-900 {
    display: block;
  }
  .pc-900 {
    display: none;
  }
  .section-sidebar {
    display: none;
  }
  .section {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 0;
  }
  .section-footer {
    display: block;
  }
  .section-common_header {
    background: #FFFFFF;
    height: 42px;
    padding-top: 9px;
    padding-left: 18px;
    margin-bottom: 20px;
  }
  .section-common_header-title {
    font-family: 'Roboto',arial,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    align-self: center;
  }
}

@media screen and (max-width: 500px) {
  .pc-500 {
    display: none;
  }
  .sp-flex-500 {
    display: flex;
  }
}